<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Apolo Sound</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        @if(ViewBag.mostrarNav == null)
        {
            <nav>
            <img height="80rem" width="80rem" src="/img/logo.png">
                <ul>
                   <li><a href='@Url.Action("VerArtistas", new{buscar=""})'> Home</a></li>
                   <li><a href='@Url.Action("Creditos")'>Creditos</a></li>
                    <li><a href='@Url.Action("Perfil")'>Perfil</a></li>
                </ul>
            </nav>
        }
        <div>
            @RenderBody()
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>