@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DetalleArtistas</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        <img src="@ViewBag.Artista.foto">
        <h1>Nombre: @ViewBag.Artista.nombre</h1>
        <h1>Descripcion: @ViewBag.Artista.descripcion</h1>
        <br>
        <h1>Apolo Sound, la plataforma perfecta para el amante de la musica</h1>
        <a href='@Url.Action("Login")'><button>Login</button></a>
        <a href='@Url.Action("Registrarme")'><button>Registrarme</button></a>
        
    </body>
</html>
